In [ ]:
# Online Python compiler (interpreter) to run Python online.
# Write Python 3 code in this online editor and run it.
"""
this is a sample code
this is a comment
this is line 3 
"""
print("hello")

hello

In [ ]:
4*5+3

23

In [ ]:
4/3

1.3333333333333333

In [ ]:
# floor division //
10//3

3

In [ ]:
12%5
# remainder

2

In [ ]:
# exponential : base number ** exponent 

4 ** 5

1024

In [ ]:
-4**5 # -(4^5)

-1024

In [ ]:
(-4)**5

-1024

In [ ]:
# variables : 
length = 10
width = 4 
area = length*width
print(area)

40

In [ ]:
a = 4
a = a + 1 
a += 1

In [ ]:
a,b,c = 1,2,3

In [ ]:
a1 = "hello"
a2 = "world" # string concatnation 
a3 = a1+a2
print(a3)

helloworld

In [ ]:
a,b,c,d = 2,5,4,1
a < b > c < d

False

In [ ]:
max(4,5,1)

5

In [ ]:
min(1,9,10,11)

1

In [ ]:
1 < 2 and 3< 5

True

In [ ]:
1 > 3 or 5 > 2

True

In [ ]:
(4*3) != 1. # not equal to

True

In [ ]:
# datatypes 
a = 5 # integer 
a1 = 4.5 # floating number number 
string1 = "hello world"
print(string1[6])

w

In [ ]:
str1 = "hello"
str2 = "world"
str3 = str1 + str2 
print(str3)

helloworld

In [ ]:
# [start ( start index ) : end ]

In [ ]:
str1 = "hello MAIB"
str2 = str1[1:7]
print(str2)

ello M

In [ ]:
name = "pulkit"
name1 = input("enter name")
print(type(name1))
print(name)
print(name1)

enter namepulkit midha
<class 'str'>
pulkit
pulkit midha

In [ ]:
num1 = 4 
num2 = int(input("entier value of num2")). ====  int("10") === 10 integer 
print(num1 + num2)

entier value of num210
14

In [ ]:
# control flow in Python 
str1 = input("enter name of person")

if(str1 == "Pulkit Midha"):
  print("you guessed the name it right")
else:
  print("name is not pulkit midha")

enter name of personPulkit
name is not pulkit midha

In [ ]:
# nested if else 
num = int(input("enter a number"))

if(num<10):
  print("number is <10")
elif(num < 20 and num > 10):
  print("number is between 10 and 20")
elif(num < 30 and num > 20):
  print("number is between 20 and 30")
else:
  print("number is greater than 30")

enter a number100
number is greater than 30

In [ ]:
# printing 100 numbers 
print("1")
print("2")




print("100")

In [ ]:
for i in range(2,101,10):
  print(i)

2
12
22
32
42
52
62
72
82
92

In [ ]:
# function definition 
def functionname(parameters):
  ---
  ----




# function calling 
functioname()

In [ ]:
def add(num1, num2):
  sum = num1 + num2
  print(sum)

a = 5 
b = 4 
add(a,b)

9

In [ ]:
def add(num1, num2):
  sum = num1 + num2 + 10
  return(sum)

a = 5 
b = 4 
print(add(a,b))

19

In [ ]:
# strings , integers , floating point 

# list 
list1 = [1,2,3,4]
list2 = list1 + [5,6,7,8]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1 = [1,2,3]
list1[2] = "hello"
print(list1)

[1, 2, 'hello']

In [ ]:
# list methods 
# append 
numlist = [1,2,3,10]
# numlist.append(11)
numlist.extend([11,22,111])
print(numlist)
numlist.append(1000)
print(numlist)

[1, 2, 3, 10, 11, 22, 111]
[1, 2, 3, 10, 11, 22, 111, 1000]

In [ ]:
numlist.append(1)
print(numlist)
numlist.remove(1)
print(numlist)

[1, 2, 3, 10, 11, 22, 111, 1000, 1, 1]
[2, 3, 10, 11, 22, 111, 1000, 1, 1]

In [ ]:
numlist.pop()
print(numlist)

[2, 3, 10, 11, 22, 111, 1000, 1]

In [ ]:
numlist.reverse()
print(numlist)

[1, 1000, 111, 22, 11, 10, 3, 2]

In [ ]:
numlist.sort()
print(numlist)

[1, 2, 3, 10, 11, 22, 111, 1000]

In [ ]:
numlist.append(1)

In [ ]:
print(numlist)

[1, 2, 3, 10, 11, 22, 111, 1000, 1, 1]

In [ ]:
del numlist[1]
print(numlist)

[1, 3, 10, 11, 22, 111, 1000, 1]

In [ ]:
numlist.pop(1)
print(numlist)

[1, 10, 11, 22, 111, 1000, 1]

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in numlist:
  print(i)

1
10
11
22
111
1000
1

In [ ]:
# all 1 removed 
numlist2 = []
for i in numlist:
  if(i != 1):
    numlist2.append(i)
  # if(numlist[i] == 1):
  #   numlist.pop(numlist[i]

print(numlist2)

[10, 11, 22, 111, 1000]

In [ ]:
# tuple 
tuple1=(1,3,6)
print(tuple1)

(1, 3, 6)

In [ ]:
tuple1[0]= 88

TypeError: ignored

In [ ]:
list1 = list(tuple1)
print(list1)
list1.append(5)
print(list1)
tuple1 = tuple(list1)
print(tuple1)

[1, 3, 6, 5]
[1, 3, 6, 5, 5]
(1, 3, 6, 5, 5)

In [ ]:
# dictionaries : 
capitals = {
    'India' : 'New Delhi',
    'USA' : 'Washington DC',
    'Nepal' : 'Kathmandu'
}

print(capitals)

{'India': 'New Delhi', 'USA': 'Washington DC', 'Nepal': 'Kathmandu'}

In [ ]:
print(capitals['Nepal']) # print the value of the key Nepal 
capitals['Canada'] = 'Ottawa'
print(capitals)

Kathmandu
{'India': 'New Delhi', 'USA': 'Washington DC', 'Nepal': 'Kathmandu', 'Canada': 'Ottawa'}

In [ ]:
len(capitals)

4

In [ ]:
capitals.popitem()
print(capitals)

{'India': 'New Delhi', 'USA': 'Washington DC', 'Nepal': 'Kathmandu'}

In [ ]:
del capitals['USA']
print(capitals)

{'India': 'New Delhi', 'Nepal': 'Kathmandu'}

In [ ]:
userInformation = {
    'full name' : "Shivay Lamba",
    'age' : 23,
    'gender' : "Male",
    'hobbies' : ['cricket', 'AI']
}
print(userInformation)

{'full name': 'Shivay Lamba', 'age': 23, 'gender': 'Male', 'hobbies': ['cricket', 'AI']}

In [ ]:
# # 1, 10 
# num1 = int(input("enter first number"))
# num2 = int(input("enter second number"))
var = []
for i in range(3):
  num = int(input("enter numnber"))
  var.append(num)



# for i in range(num1, num2): 11 to 13 
#   if(i%2 == 0 ):
#     print("even number")
#   else:
#     print("odd number ")

enter numnber10
enter numnber11
enter numnber12

In [ ]:
print(var)

[10, 11, 12]